<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="light">
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <div class="logo">
        <img src="assets/imgs/logo.png" alt="">
      </div>
      <div class="titlePre">
        <h2>Iniciar Sesión</h2>
        <p>Ingrese su email y Contraseña.</p>
      </div>
      <br/>
    <br/>
    <div class="fakeButton" >
      <div class="icon">
          <img *ngIf="tipo == 1" src="assets/imgs/tipo/usuario.png" alt="Usuario">
          <img *ngIf="tipo == 2" src="assets/imgs/tipo/administrador.png" alt="Usuario">
          <img *ngIf="tipo == 3" src="assets/imgs/tipo/policia.png" alt="Policia">
      </div>
      <div class="input">
        <ion-input type="text" placeholder="Usuario" [(ngModel)]="email"></ion-input>
      </div>
    </div>
    <div class="fakeButton" >
      <div class="icon">
          <img src="assets/imgs/login/candado.png" alt="">
      </div>
      <div class="input">
        <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
      </div>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label > Recordarme</ion-label>
            <ion-toggle  [(ngModel)]="recordar" checked="false"></ion-toggle>
          </ion-item>
        </ion-col>
        
        <ion-col col-6>
            <ion-item>
              <ion-label style="text-align: right;" (click)="recovery();"> Recuperar Contraseña</ion-label>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <br/>
          <button ion-button block color="primary" [disabled]="email == undefined || password == undefined || email == '' || password == ''" (click)="login()">Entrar</button>
        </ion-col>
        <ion-col col-12>
            <ion-label style="text-align: right;" (click)="registrar();"> Crear cuenta</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    
</ion-content>
