<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Tu Ubicacion
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab right bottom>
    <button ion-fab mini (click)="sendLocation();" class="circle-button"><ion-icon name="send"></ion-icon></button>
    
  </ion-fab>  
  <div #map  class="map" id="map" data-tap-disabled="true"></div>
</ion-content>
