page-location {
    ion-fab[bottom] {
        bottom: 100px;
    }

    #map{
        width:100%;
        height:100%;
    }
    .mitad{
        margin-top: 80px;
    }
    .item{
        .input{
            background: white;
            text-indent: 10px;
            height:36px;
        }
        
    }
    .content{
        .list{
            margin-bottom: 0px !important;
        }
    }
    .button-default{
            height:36px;
            margin: 0 auto !important;
            .icon{
                    display: block;
                        margin: 0 auto;
                        position: relative;
                        text-align: center;
                    }
        }


}
