page-denuncia {
    ion-fab[center] {
        left: 80%;
        margin-left: -28px;
        top: 0px;
        right: 0px;
        width: 48px;
        height: 48px;
    }
    .fab-ios{
        top:13px !important;
    }
    .header-md{
        ion-buttons[start]{
            float: left;
            position: absolute;
            left: 0px;
        }
        .title-md{
            text-indent: 16px;
        }
    }
    .header-ios{
        .toolbar-ios{
            min-height: 52px;
        }
        ion-fab[center]{
            left: 80%;
            width: 48px;
            height: 48px;
        }
    }
    .footer{
        .toolbar{
            min-height: 52px !important;
            height: 80px;
            .text-input{
                    background: white;
                    border-radius: 12px;
                    padding: 10px;
                    border: 1px solid #ccc;
                    min-height: 48px;
                    max-height:52px;
            }
            .icon{
                font-size: 32px;
                text-align: center;
                margin-top: 14px;
                background: $amarillo;
                border-radius: 100%;
                height: 48px;
                width: 48px;
                line-height: 48px;
                color:white;
                padding: 0px !important;
                display: block;
                margin: 0 auto;
                position: relative;
            }
            .danger{
                background: red;
            }
            .circle-button{
                margin-top:5px;
                height: 56px;
            }
        }
    }
    .fab-in-list{
        background: $amarillo !important;
        padding: 0px;
        img{
            position: relative;
            height: auto;
            width: 69px;
            max-width: none;
            display: block;
            margin: 0 auto;        
        }
    }
    .fab-close-active{
        background: $grisOscuro;
        color: $amarillo;
    }
    .burble{
        max-width: 85%;
        // padding-top:12px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom:20px;
        padding-top: 0px;
        background: white;
        box-shadow: 0px 1px 12px 0px #ccc;
        margin-bottom: 8px;
        margin-top: 8px;
        margin-left: 10px;
        border-radius: 10px;
        float:left;
        width: 100%;
        text-align: left;
        position: relative;
        video{
            width: 100%;
        }
        iframe{
            width: 100%;
            height:120px;
        }
        h5{
            font-size: 12px;
            font-weight: bold;
        }
        p{
            font-size: 12px;
            font-weight: normal;
            line-height: 1.5;
        }
        p.date{
            position: absolute;
            right: 0px;
            width: 220px;
            height: 25px;
            bottom: -9px;
            line-height: 29px;
            text-align: right;
            font-size: 11px;
            right: 10px;
        }
        .player{
            width: 100%;
            // height: 64px;
            // background: red;
            .circle-button{
                background: none !important;
            }
            .icon{
                font-size: 32px;
                text-align: center;
                margin-top: 14px;
                background: $amarillo;
                border-radius: 100%;
                height: 48px;
                width: 48px;
                line-height: 48px;
                color:white;
                padding: 0px !important;
                display: block;
                margin: 0 auto;
                position: relative;
            }
        }
    }
    .burble-me{
        float:right;
        margin-right: 10px;
        background:#7fc2fb;
    }
    .recording{
        .icon{
            background: rgba(235, 192, 65, 0.93);
            animation: tit 2s infinite;
        }
    }
    @keyframes tit { 
        0% { background: $amarillo;  }
        50% { background: $grisOscuro;  }
        100% { background: $amarillo; }
      }
      .mapas{
          width: 100%;
          height: 200px;
      }
}
