<!--
  Generated template for the DenunciaPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and    navigation.
-->
<ion-header>

  <ion-toolbar color="dark">
    <ion-buttons start>
      <button ion-button icon-only color="primary" (click)="close();">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{nameRes}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" *ngIf="rol != 1" (click)="reboot();">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-fab center right color="secondary" >
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab (click)="sendPic();"> <img src="assets/imgs/pic.png"/>   </button>
      <button ion-fab (click)="location();"><img src="assets/imgs/location.png"/></button>
      <button ion-fab *ngIf="rol != 1"  (click)="activateSts();"><img src="assets/imgs/argos.png"/></button>
    </ion-fab-list>
  </ion-fab>
</ion-header>
<ion-content content style="overflow: hidden;">
  <div class="lista" #content>
    <div class="burble" *ngFor="let item of arraypush" [ngClass]="{'burble-me':item.post_parent == id}">
      <div *ngIf="item.post_mime_type !=  'image' && item.post_mime_type !=  'video'  && item.post_mime_type !=  'map'  && item.post_mime_type !=  'audio'  ">
          <h5>{{item.post_title}}</h5>
          <p>{{item.post_content}}</p>
          <p class="date">{{item.post_date | date:'dd MMMM yyyy HH:mm a' }}</p>
      </div>
      <div *ngIf="item.post_mime_type ==  'image'">
          <h5>{{item.post_title}}</h5>
        <img src="http://{{item.post_content}}" alt="" (click)="viewimagen(item.post_content)">
        <p class="date">{{item.post_date | date:'dd MMMM yyyy HH:mm a' }}</p>
      </div>
      <div *ngIf="item.post_mime_type ==  'video'">
        <h5>{{item.post_title}}</h5>
        <video  controls>
          <source src="http://{{item.post_content}}" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
      <p class="date">{{item.post_date | date:'dd MMMM yyyy HH:mm a' }}</p>
    </div>
    <div *ngIf="item.post_mime_type ==  'map'">
      <h5>{{item.post_title}}</h5>
      <div class="mapas" *ngIf="item.urlsafe" >
          <iframe [src]="item.urlsafe" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> 
          <!-- {{item.post_content_filtered}}   -->
      </div>
      <p class="date">{{item.post_date | date:'dd MMMM yyyy HH:mm a' }}</p>
    </div>
    <div *ngIf="item.post_mime_type ==  'audio'">
      <h5>{{item.post_title}} - Nota de audio.</h5>
      <div class="player">
          <ion-grid>
              <ion-row>
                <ion-col col-4>  
                    <button   icon-right *ngIf="item.dstatus != true" (click)="downloadfast(item.post_content , item.post_name , item.ID)" class="circle-button">
                        <ion-icon name="cloud-download"  class="primary" ></ion-icon>
                      </button>
                      <button *ngIf="item.dstatus == true && item.play != true"  icon-right (click)="playfast(item.dplay , item.ID);" class="circle-button">
                          <ion-icon name="play" class="primary" ></ion-icon>
                        </button>
    
                        <button *ngIf=" item.play == true"  icon-right (click)="pause( item.ID);" class="circle-button">
                            <ion-icon name="pause" class="primary" ></ion-icon>
                        </button>
                      
               </ion-col>
                <!-- <ion-col col-8></ion-col> -->
              </ion-row>
            </ion-grid>
        
      </div>
      <!-- <p>{{item.post_content}}</p> -->
      <p class="date">{{item.post_date | date:'dd MMMM yyyy HH:mm a' }}</p>
    </div>
    </div>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar *ngIf="res != ''">
    <ion-textarea type="text" placeholder="Mensaje" [disabled]="recording == true" (change)="valid()"  [(ngModel)]="mensaje"></ion-textarea>
<ion-buttons end>
    <button  *ngIf="mensaje == '' && recording == false"    (click)="record();"  ion-button icon-right color="primary" class="circle-button">
      <ion-icon name="microphone"></ion-icon>
    </button>
    <button *ngIf="mensaje == '' && recording == true" (click)="StopRecord();"  ion-button icon-right color="danger" class="circle-button">
      <ion-icon name="square" class="danger"></ion-icon>
    </button>
   
    <button  *ngIf="mensaje != ''"   ion-button icon-right color="primary" class="circle-button" (click)="send(); ">
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-buttons>
  </ion-toolbar>
</ion-footer>
