page-dashboard {
    .header{
        .toolbar-ios{
            min-height: 52px;
        }
        .toolbar-md{
            min-height: 52px;
        }
        .toolbar{
            .toolbar-title{
                img{
                    display: block;
                    margin:0 auto;
                    margin-top: 3px;
                    // max-width: 90%;
                    max-height: 38px;
                }
            }
        }
    }
    .content{
        @extend %backgroundGradient;
        .centerered{
            display: block;
            margin: 0 auto;
            width: 168px;
            height: 168px;
            background: $amarillo;
            margin-top: calc( 50% - 48px);
            border-radius: 100%;
            position: relative;
            overflow: hidden;
            img{
                display: block;
                margin: 0 auto;
                max-width: 112px;
                height: auto;
                position: relative;
                margin-top: calc(50% - 50px);
            }
        }
        .title{
            display: block;
            color: #cbcecf;
            font-size: 18px;
            text-align: center;
        }
        .list{
            .item{
                background: none !important;
                h2{
                    color:$colorText;
                }
                ion-avatar{
                    border: 1px solid $colorText;
                    border-radius: 100%;
                    overflow: hidden;
                }
            }
        }
        .list-ios{
           .item-block{
                    &:last-child{
                          border-bottom: 0.55px solid $colorText;  
                    }
            } 
        }
        .grid{
            margin-top: 22%;
            .col{
                height: 148px;
                img{
                    display: block;
                    margin:0 auto;
                    top: 32px;
                    position: relative;
                }
            }
            .box{
                h4{
                    display: block;
                    color: #cbcecf;
                    font-size: 12px;
                    text-align: center;
                    margin-top: 40px;
                }
            }
            .box-1{
                &:after{
                    position: absolute;
                    width: 86%;
                    height: 1px;
                    background: rgba(68,82,87,1);
                    background: -moz-linear-gradient(left, rgba(68,82,87,1) 0%, rgba(203,206,207,1) 36%, rgba(203,206,207,1) 60%, rgba(68,82,87,1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(68,82,87,1)), color-stop(36%, rgba(203,206,207,1)), color-stop(60%, rgba(203,206,207,1)), color-stop(100%, rgba(68,82,87,1)));
                    background: -webkit-linear-gradient(left, rgba(68,82,87,1) 0%, rgba(203,206,207,1) 36%, rgba(203,206,207,1) 60%, rgba(68,82,87,1) 100%);
                    background: -o-linear-gradient(left, rgba(68,82,87,1) 0%, rgba(203,206,207,1) 36%, rgba(203,206,207,1) 60%, rgba(68,82,87,1) 100%);
                    background: -ms-linear-gradient(left, rgba(68,82,87,1) 0%, rgba(203,206,207,1) 36%, rgba(203,206,207,1) 60%, rgba(68,82,87,1) 100%);
                    background: linear-gradient(to right, rgba(68,82,87,1) 0%, rgba(203,206,207,1) 36%, rgba(203,206,207,1) 60%, rgba(68,82,87,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#445257', endColorstr='#445257', GradientType=1 );
                    content: '';
                    z-index: 9999;
                    top: 100%;
                }
            }
            .box-2{
                &:after{
                    position: absolute;
                    width: 1px;
                    height: 84%;
                    background: rgba(68,82,87,1);
                    background: -moz-linear-gradient(top, rgba(68,82,87,1) 0%, rgba(203,206,207,1) 36%, rgba(203,206,207,1) 60%, rgba(68,82,87,1) 100%);
                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(68,82,87,1)), color-stop(36%, rgba(203,206,207,1)), color-stop(60%, rgba(203,206,207,1)), color-stop(100%, rgba(68,82,87,1)));
                    background: -webkit-linear-gradient(top, rgba(68,82,87,1) 0%, rgba(203,206,207,1) 36%, rgba(203,206,207,1) 60%, rgba(68,82,87,1) 100%);
                    background: -o-linear-gradient(top, rgba(68,82,87,1) 0%, rgba(203,206,207,1) 36%, rgba(203,206,207,1) 60%, rgba(68,82,87,1) 100%);
                    background: -ms-linear-gradient(top, rgba(68,82,87,1) 0%, rgba(203,206,207,1) 36%, rgba(203,206,207,1) 60%, rgba(68,82,87,1) 100%);
                    background: linear-gradient(to bottom, rgba(68,82,87,1) 0%, rgba(203,206,207,1) 36%, rgba(203,206,207,1) 60%, rgba(68,82,87,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#445257', endColorstr='#445257', GradientType=0 );
                    content: '';
                    z-index: 9999;
                    left: 0%;
                    top: 0px;
                }
                img{
                    margin-top: -10px;
                }
            }
            .box-3{
                &:after{
                    position: absolute;
                    width: 1px;
                    height: 86%;
                    background: rgba(68,82,87,1);
                    background: -moz-linear-gradient(top, rgba(68,82,87,1) 0%, rgba(203,206,207,1) 36%, rgba(203,206,207,1) 60%, rgba(68,82,87,1) 100%);
                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(68,82,87,1)), color-stop(36%, rgba(203,206,207,1)), color-stop(60%, rgba(203,206,207,1)), color-stop(100%, rgba(68,82,87,1)));
                    background: -webkit-linear-gradient(top, rgba(68,82,87,1) 0%, rgba(203,206,207,1) 36%, rgba(203,206,207,1) 60%, rgba(68,82,87,1) 100%);
                    background: -o-linear-gradient(top, rgba(68,82,87,1) 0%, rgba(203,206,207,1) 36%, rgba(203,206,207,1) 60%, rgba(68,82,87,1) 100%);
                    background: -ms-linear-gradient(top, rgba(68,82,87,1) 0%, rgba(203,206,207,1) 36%, rgba(203,206,207,1) 60%, rgba(68,82,87,1) 100%);
                    background: linear-gradient(to bottom, rgba(68,82,87,1) 0%, rgba(203,206,207,1) 36%, rgba(203,206,207,1) 60%, rgba(68,82,87,1) 100%);
                    content: '';
                    z-index: 9999;
                    right: 0%;
                    bottom: 0px;
                }
            }
            .box-4{
                &:after{
                    position: absolute;
                    width: 84%;
                    height: 1px;
                    background: rgba(68,82,87,1);
                    background: -moz-linear-gradient(left, rgba(68,82,87,1) 0%, rgba(203,206,207,1) 36%, rgba(203,206,207,1) 60%, rgba(68,82,87,1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(68,82,87,1)), color-stop(36%, rgba(203,206,207,1)), color-stop(60%, rgba(203,206,207,1)), color-stop(100%, rgba(68,82,87,1)));
                    background: -webkit-linear-gradient(left, rgba(68,82,87,1) 0%, rgba(203,206,207,1) 36%, rgba(203,206,207,1) 60%, rgba(68,82,87,1) 100%);
                    background: -o-linear-gradient(left, rgba(68,82,87,1) 0%, rgba(203,206,207,1) 36%, rgba(203,206,207,1) 60%, rgba(68,82,87,1) 100%);
                    background: -ms-linear-gradient(left, rgba(68,82,87,1) 0%, rgba(203,206,207,1) 36%, rgba(203,206,207,1) 60%, rgba(68,82,87,1) 100%);
                    background: linear-gradient(to right, rgba(68,82,87,1) 0%, rgba(203,206,207,1) 36%, rgba(203,206,207,1) 60%, rgba(68,82,87,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#445257', endColorstr='#445257', GradientType=1 );
                    content: '';
                    z-index: 9999;
                    top: 0%;
                    right: 4%;
                }
            }
        }
    }
}
