<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar >
    <ion-title><img src="assets/imgs/dashboard/logo.png" alt=""></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="exit()" >
        <ion-icon color="secondary" ios="ios-exit-outline" md="md-exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content >
  <ion-list color="light">
    <ion-item>
      <ion-avatar item-start>
        <img *ngIf="rol == 1" src="assets/imgs/tipo/usuario.png" alt="Usuario">
        <img *ngIf="rol == 2" src="assets/imgs/tipo/administrador.png" alt="Usuario">
        <img *ngIf="rol == 3" src="assets/imgs/tipo/policia.png" alt="Policia">
      </ion-avatar>
      <h2>{{name}}</h2>
    </ion-item>
  </ion-list>
  <!-- <ion-grid>
    <ion-row>
      <ion-col col-6 class="box box-1">
        <img src="assets/imgs/dashboard/chat.png" (click)="Denuncia()">
        <h4 (click)="Denuncia();">Denuncia</h4>
      </ion-col>
      <ion-col col-6 class="box box-2" disabled="tipo == 1">
        <img src="assets/imgs/dashboard/argo.png" (click)="activateSts();">
        <h4 (click)="activateSts();">ARGOS <br/> Activar STS</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 class="box  box-3" disabled="tipo == 1">
          <img src="assets/imgs/dashboard/camara.png">
          <h4>Cámaras</h4>
      </ion-col>
      <ion-col col-6 class="box box-4">
          <img  (click)="denunciar()" src="assets/imgs/dashboard/alerta.png">
          <h4 (click)="denunciar()">Denunciar Delito</h4>
      </ion-col>
    </ion-row>
  </ion-grid> -->
<div class="centerered">
  <img  (click)="denunciar()" src="assets/imgs/alert.png">
</div>
<h4 class="title" (click)="denunciar();">Denunciar</h4>
</ion-content>
