
<ion-content>
  <div class="logo">
    <img src="assets/imgs/logo.png" alt="">
  </div>
  <div class="titlePre">
    <h2>Tipo de Usuario</h2>
    <p>Bienvenido a Argos selecciona que tipo de usuario eres.</p>
  </div>
    <br/>
    <br/>
    <div class="fakeButton" (click)="goLogin(1);">
      <div class="icon">
          <img src="assets/imgs/tipo/usuario.png" alt="">
      </div>
      <h3>Usuario</h3>    
    </div>
    <div class="fakeButton" (click)="goLogin(2);">
      <div class="icon">
        <img src="assets/imgs/tipo/administrador.png" alt="">
      </div>
      <h3>Administrador</h3>    
    </div>
    <div class="fakeButton" (click)="goLogin(3);">
      <div class="icon">
        <img src="assets/imgs/tipo/policia.png" alt="">
      </div>
      <h3>Policía</h3>    
    </div>
  
</ion-content>
