page-home {
    .content{
        @extend %backgroundGradient;
        .logo{
            @extend %logoPre;
        }
        .titlePre{
            @extend %titlePre;
        }
        .fakeButton{
            @extend %fakeButton;
        }
    }
}

