// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #ebc041,
  secondary:  rgb(68,82,87),
  danger:     #f53d3d,
  light:      rgba(255,255,255,0),
  dark:       #2f393c
);
$grisClaro : #445257;
$grisOscuro: #2f393c;
$colorText: #cbcecf;
$amarillo: #ebc041;
$toolbar-ios-button-color: #ebc041;
$toolbar-md-button-color: #ebc041;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

%backgroundGradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,445257+0,445257+0,445257+37,2f393c+100 */
background: rgb(122,188,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(122,188,255,1) 0%, rgba(68,82,87,1) 0%, rgba(68,82,87,1) 0%, rgba(68,82,87,1) 37%, rgba(47,57,60,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(68,82,87,1) 0%,rgba(68,82,87,1) 0%,rgba(68,82,87,1) 37%,rgba(47,57,60,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(122,188,255,1) 0%,rgba(68,82,87,1) 0%,rgba(68,82,87,1) 0%,rgba(68,82,87,1) 37%,rgba(47,57,60,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#2f393c',GradientType=0 ); /* IE6-9 */
}
%logoPre{
          display: block;
          margin: 0 auto;
          max-width: 64px;
          margin-top: 50px;
          margin-bottom: 20px;
}
%titlePre{
  display: block;
  margin: 0 auto;
  max-width: 90%;
  h2{
    text-align: center;
    font-size: 18px;
    color:white;
  }
  p{
    display: block;
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
    color: #fff;
    font-size: 14px;
  }
}
%fakeButton{
  height: 48px;
  width:100%;
  max-width: 86%;
  background: $grisClaro;
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
  position: relative;
  &:last-child{
    margin-bottom: 0px;
  }
    .icon{
        background: $grisOscuro;
        height: 48px;
        width: 48px;
        float: left;
    }
    h3{
      font-size: 12px;
      line-height: 48px;
      text-indent: 12px;
      color: $colorText;
    }
    .input{
      overflow: hidden;
      ion-input{
        position: absolute;
        top: 0px;
        //  background: rgba(47,57,60,1); 
        width: calc(100%-54px);
        width: calc(100% - 54px);
        height: 48px;
        right: 0px;
        text-align: 48px;
        color: $colorText;
        line-height: 24px;
        font-size:14px;
        color: $colorText;
        text-indent: 16px;
      }
      ion-label{
        position: absolute;
        left: 54px;    
        color:$colorText;
        z-index: 3;   
      }
    }
    .select{
      overflow: hidden;
      ion-select{
        position: absolute;
        top: 0px;
        //  background: rgba(47,57,60,1); 
        width: calc(100%-54px);
        width: calc(100% - 54px);
        height: 48px;
        right: 0px;
        text-align: 48px;
        color: $colorText;
        line-height: 24px;
        font-size:14px;
        color: $colorText;
        text-indent: 16px;
      }
      ion-label{
        position: absolute;
        left: 70px;    
        color:$colorText;
        z-index: 3;   
        line-height: 24px;
      }
      .select-ios .select-icon{
        height: 24px;
      }
      .select-md .select-icon{
        height: 24px;
      }
  }
    
}
.toolbar-ios-light .toolbar-title-ios, .toolbar-ios-light .bar-button-clear-ios, .toolbar-ios-light .bar-button-default-ios{
  color: $amarillo !important;
}
.toolbar-md-light .toolbar-title-md, .toolbar-md-light .bar-button-clear-md, .toolbar-md-light .bar-button-default-md{
  color: $amarillo !important;
}
.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios{
    border-style: solid; 
    border-color: rgba(0, 0, 0, .0) !important;
}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
  background: none !important;
}