<!--
  Generated template for the PermisosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>permisos</ion-title>
  </ion-navbar>

</ion-header> -->
<ion-content padding >
  <img src="assets/imgs/logo.png" alt="" class="center img-responsive">
  <h2>Bienvenido, antes de comenzar sigue estos pasos.</h2>
  <br/>
  <button *ngIf="step == 1" icon-end ion-button  block (click)="takePic()" >Tomar Foto  <ion-icon name="camera"></ion-icon></button>
  <button *ngIf="step == 2" icon-end ion-button  block (click)="selectPic()" >Selecciona Foto  <ion-icon name="camera"></ion-icon></button>
  <button *ngIf="step == 3" icon-end ion-button  block (click)="record()" >Grabar un audio  <ion-icon name="microphone"></ion-icon></button>
  <button *ngIf="step == 4" icon-end ion-button  block (click)="location()" >Tu ubicaciòn es  <ion-icon name="pin"></ion-icon></button>
  <button *ngIf="step == 5" icon-end ion-button  block (click)="save()" >Comenzar  <ion-icon name="ios-checkmark-circle-outline"></ion-icon></button>
</ion-content>
