page-permisos {
    .content{
        @extend %backgroundGradient;
        .img-responsive{
            display: block;
            margin: 0 auto;
            margin-top: 80px;
        }
        h2{
            text-align: center;
            color:white;
            font-size: 16px;
        }
    }
}
