page-registro {
    .content{
        @extend %backgroundGradient;
        .logo{
            @extend %logoPre;
        }
        .titlePre{
            @extend %titlePre;
        }
        .fakeButton{
            @extend %fakeButton;
        }
        .grid{
            padding: 0px;
            max-width: 86%;
              .col{
                padding: 0px;
                  .item{
                    padding: 0px !important;
                    background: none !important;
                    color:white;
                    .item-inner{
                        border-bottom:0px !important;
                    }
                    .label{
                        font-size: 12px;
                        color: $colorText;
                        text-align: left;
                    }
                    .toggle{
                        margin: 0;
                        padding: 3px 0px 5px 0px;
                    }
                  }
                  .item-ios{
                    padding: 0px !important;
                  }
                  ion-label{
                    font-size: 12px;
                    color: $colorText;
                    text-align: right;
                    text-indent: 0px;
                  }
              }
          }
    }
}
