<!--
  Generated template for the RegistroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <div class="logo">
        <img src="assets/imgs/logo.png" alt="">
      </div>
      <div class="titlePre">
        <h2>Crear Cuenta</h2>
        <p>Vive la experiencia Argos.</p>
      </div>
      <br/>
    <br/>
    <div *ngIf="tipo == '1' || tipo == '2'">
      <div class="fakeButton" *ngIf="step == 1">
          <div class="icon">
            <img *ngIf="tipo == 1" src="assets/imgs/tipo/usuario.png" alt="Usuario">
            <img *ngIf="tipo == 2" src="assets/imgs/tipo/administrador.png" alt="Usuario">
            <img *ngIf="tipo == 3" src="assets/imgs/tipo/policia.png" alt="Policia">
          </div>
          <div class="input">
            <ion-input type="text" placeholder="Nombre y Apellido" [(ngModel)]="nombre"></ion-input>
          </div>
      </div>
      <div class="fakeButton" *ngIf="step == 1" >
          <div class="icon">
            <img src="assets/imgs/registro/cedula.png" alt="Usuario">
          </div>
          <div class="input">
            <ion-input type="text" placeholder="Cedula" [(ngModel)]="cedula"></ion-input>
          </div>
      </div>
      <div class="fakeButton" *ngIf="step == 1">
          <div class="icon">
            <img src="assets/imgs/registro/telefono.png" alt="Usuario">
          </div>
          <div class="input">
            <ion-input type="tel" placeholder="Teléfono"[(ngModel)]="telefono"></ion-input>
          </div>
      </div>
      <div class="fakeButton"  *ngIf="step == 2">
          <div class="icon">
            <img src="assets/imgs/registro/correo.png" alt="Usuario">
          </div>
          <div class="input">
            <ion-input type="email" placeholder="Correo"[(ngModel)]="email"></ion-input>
          </div>
      </div>
      <div class="fakeButton" *ngIf="step == 2">
          <div class="icon">
            <img src="assets/imgs/login/candado.png" alt="Usuario">
          </div>
          <div class="input">
            <ion-input type="password" placeholder="Password"[(ngModel)]="password"></ion-input>
          </div>
      </div>
      <div class="fakeButton" *ngIf="step ==2">
          <div class="select">
              <div class="icon">
                  <img src="assets/imgs/registro/edificio.png" alt="Usuario">
                </div>
                <div class="select">
                    <ion-label>Residencias</ion-label>
                    <ion-select [(ngModel)]="residencia">
                      <ion-option *ngFor="let res of items" value="{{res.ID}}">{{res.post_title}}</ion-option>
                    </ion-select>
                </div>
          </div>
      </div>
    </div>
    <div *ngIf="tipo == '3'">
      <div class="fakeButton" *ngIf="step == 1">
          <div class="icon">
            <img *ngIf="tipo == 1" src="assets/imgs/tipo/usuario.png" alt="Usuario">
            <img *ngIf="tipo == 2" src="assets/imgs/tipo/administrador.png" alt="Usuario">
            <img *ngIf="tipo == 3" src="assets/imgs/tipo/policia.png" alt="Policia">
          </div>
          <div class="input">
            <ion-input type="text" placeholder="Nombre y Apellido" [(ngModel)]="nombre" ></ion-input>
          </div>
      </div>
      <div class="fakeButton" *ngIf="step == 1" >
          <div class="icon">
            <img src="assets/imgs/registro/cedula.png" alt="Usuario">
          </div>
          <div class="input">
            <ion-input type="text" placeholder="Cedula" [(ngModel)]="cedula"></ion-input>
          </div>
      </div>
      <div class="fakeButton" *ngIf="step == 1" >
          <div class="icon">
            <img src="assets/imgs/registro/cedula.png" alt="Usuario">
          </div>
          <div class="input">
            <ion-input type="text" placeholder="Número de Idenificación" [(ngModel)]="idplaca"></ion-input>
          </div>
      </div>
      <div class="fakeButton" *ngIf="step == 1">
          <div class="icon">
            <img src="assets/imgs/registro/telefono.png" alt="Usuario">
          </div>
          <div class="input">
            <ion-input type="tel" placeholder="Teléfono" [(ngModel)]="telefono"></ion-input>
          </div>
      </div>
      <div class="fakeButton"  *ngIf="step == 2">
          <div class="icon">
            <img src="assets/imgs/registro/correo.png" alt="Usuario">
          </div>
          <div class="input">
            <ion-input type="email" placeholder="Correo" [(ngModel)]="email"></ion-input>
          </div>
      </div>
      <div class="fakeButton" *ngIf="step == 2">
          <div class="icon">
            <img src="assets/imgs/login/candado.png" alt="Usuario">
          </div>
          <div class="input">
            <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
          </div>
      </div>
      <div class="fakeButton" *ngIf="step ==2">
          <div class="icon">
            <img src="assets/imgs/registro/edificio.png" alt="Usuario">
          </div>
          <div class="select">
              <ion-label>Residencias</ion-label>
            <ion-select [(ngModel)]="residencia">
              <ion-option *ngFor="let res of items" value="{{res.ID}}">{{res.post_title}}</ion-option>
            </ion-select>
          </div>
      </div>
    </div>
    <ion-grid>
        <ion-row>
          <ion-col col-6>
              <ion-label style="text-align: left;" (click)="prev();" *ngIf="step ==2"> Atras</ion-label>
            
          </ion-col>
          <ion-col col-6>
              <ion-label style="text-align: right;" (click)="next();" *ngIf="step ==1"> Siguiente</ion-label>  
            </ion-col>
          <ion-col col-12>
              <br/>
              <br/>
              <button ion-button block color="primary" [disabled]="step == 1 || email == undefined || email == '' || password == undefined || password == '' || residencia == undefined || residencia == ''" (click)="save();">Registrarme</button>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
